<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.longer.creditManager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 腾讯云 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- CALENDAR -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- CONTACTS -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- MICROPHONE -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- PHONE -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- SENSORS -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!-- SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <!-- STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="hxz.www.commonbase.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity android:name=".MainActivity" />

        <!-- 头条适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
        <!-- 头条适配结束 -->


        <!-- 全面屏状态栏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 适配华为刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!-- 全面屏状态栏屏幕适配结束 -->

        <activity android:name=".Main2Activity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ExaminationActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.CustomerInformationActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.Add_ConsumerClientActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.Add_BusinessCustomerActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.BusinessdetailsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".Main3Activity"  android:screenOrientation="portrait"/>
        <activity android:name=".Main4Activity"  android:screenOrientation="portrait"/>
        <activity android:name=".Main5Activity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutActivity" android:screenOrientation="portrait" />
        <activity android:name=".login.LoginActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".chat.ChatActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.LeaveRequestActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".notice.SystemMsgActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".notice.NoticeActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.AccessoryActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.GeneraLsurveyActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.CustomerChoiceActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.GuaranteeBusinessActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.CollectActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.SurveyActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.AcceptTheSummaryActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.DayOfMaturityActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ExpireActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReimbursementActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegardsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.AttachmentActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".clientdetail.ClientDetailActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".todo.list.TodoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.NewSurveyActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ApprovedMemoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".buinese.detail.BusineseDetailActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CustomerInformationActivity2"  android:screenOrientation="portrait"/>
        <activity android:name=".todo.detail.TodoDetailActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.CustomerInformationcompanyActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ForgetThePasswordActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ExamineActivity"  android:screenOrientation="portrait"></activity>
    </application>

</manifest>